:root {
    --secondary: #131f2b;
    --secondary-lighter: #28373f;

    --primary: #cf2532;
    --primary: #FF6B6B;
    
    --gradient: linear-gradient(to bottom, var(--primary), #adb5bd);
}


body {
    font-family: 'Lato', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.bgfm-secondary {
    background-color: var(--secondary);
}
.bgfm-secondary-lighter {
    background-color: var(--secondary-lighter);
}


.icon-gradient {
    background: var(--gradient);
    background-clip: text;
    color: transparent;
}

/* .text-gradient {
  display: inline-block;
  font-weight: bold;
  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
} */
.text-primary{
    color: var(--primary) !important;
}
.title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.button-gradient {
    position: relative;
    padding: 0.3em 1em;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
    z-index: 0;

    /* Gradient text */
    /* background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; */
    }

.border-gradient {
    position: relative;
    z-index: 0;
}
.button-gradient::before, 
.border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px; /* Border thickness */
    background: var(--gradient);
    border-radius: inherit;
    z-index: -1;

    -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}


/**************
 TIMELINE 
 *************/
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: var(--gradient);
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: calc(100% - 4px);
    z-index: 400;
    margin-top: 4px;
}
ul.timeline > li {
    /* margin: 20px 0; */
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: var(--secondary-lighter);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--primary);
    left: 22px;
    width: 17px;
    height: 17px;
    z-index: 400;
    margin-top: 4px;
}


/*********************
 CUSTOM TABLE STYLE 
 ********************/
.fm-table {
    background-color: var(--secondary-lighter);
    border-radius: 12px;
    border: none;
    width: 100% !important;
    margin-bottom: 0;
}

.fm-table thead th {
    background: transparent;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: none;
    padding: 1rem 0.75rem 3px 10px;
    position: relative;
}

.fm-table tbody td {
    background-color: var(--secondary-lighter);
    color: white;
    border: none;
    padding: 6px 0.75rem;
    border-bottom: 1px solid rgba(14, 233, 81, 0.1);
}

.fm-table tbody tr:last-child td {
    border-bottom: none;
}